<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h1>Here are the awesome quotes!</h1>
		<% for (var i = 0 ; i< list.length; i++){ %>
			<h2>"<%= list[i].quote %>"</h2>
			<h3>-<%= list[i].name %> at <%= list[i].createdAt %></h3>
			<h3>Number of Likes: <%= list[i].likes %></h3>
			<form action="/likes/<%= list[i]._id %>" method="post">
				<button type="submit" name="like">Like</button>
			</form>
			<div><%= list[i]._id %></div>
			<hr>
		<% } %>
	</body>
</html>